.canvas-containter {
  position: relative;
  cursor: pointer;
}
.pica-options { margin-top: 10px; }
.canvas-info, .canvas-tip {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px 5px;
  background-color: #444;
  color: #fff;
  opacity: 0.7;
  font-size: 12px;
  font-weight: bold;
}
.canvas-tip {
  top: auto;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.canvas-containter:hover .canvas-tip {
  opacity: .7;
}

body {
  overflow-x: hidden;
  margin-bottom: 40px;
}

.gh-ribbon {
  display: block;
  position: absolute;
  right: -60px;
  top: 44px;
  transform: rotate(45deg);
  width: 230px;
  z-index: 10000;
  white-space: nowrap
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #686868;
  box-shadow: 0 0 2px rgba(102, 102, 102, 0.4);
  padding: 1px 0;
}
.gh-ribbon a, .gh-ribbon a:hover {
  text-decoration: none;
}
.gh-ribbon a {
  border: 1px solid #ccc;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  outline: medium none;
  padding: 4px 50px 2px;
  text-align: center;
}
